<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconn"
        android:supportsRtl="true"
        android:theme="@style/Theme.Digividya"
        tools:targetApi="31">

        <activity
            android:name="com.example.digividya.login.login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.digividya.dashboard.MainActivity"></activity>
        <activity android:name="com.example.digividya.quizes.QuizzesActivity"></activity>
        <activity android:name="com.example.digividya.quizes.ResultActivity"></activity>
        <activity android:name="com.example.digividya.notes.PdfViewerActivity"/>
        <activity
            android:name="com.example.digividya.class10.YouTubePlayerActivity"
           />
        <activity android:name="com.example.digividya.clases.RecordedLecturesActivity"></activity>
        <activity android:name="com.example.digividya.clases.cclass9"></activity>
        <activity android:name="com.example.digividya.clases.cclass10"></activity>
        <activity android:name="com.example.digividya.clases.cclass11"></activity>
        <activity android:name="com.example.digividya.clases.cclass12"></activity>
        <activity android:name="com.example.digividya.class9.cmath9"></activity>
        <activity android:name="com.example.digividya.class9.csci9"></activity>
        <activity android:name="com.example.digividya.class9.csst9"></activity>
        <activity android:name="com.example.digividya.class9.ceng9"></activity>
        <activity android:name="com.example.digividya.class10.cmaths10"></activity>
        <activity android:name="com.example.digividya.class10.ceng10"></activity>
        <activity android:name="com.example.digividya.login.register"></activity>
        <activity android:name="com.example.digividya.dashboard.Profile"></activity>
        <activity android:name="com.example.digividya.quizes.Qprolos"></activity>
        <activity android:name="com.example.digividya.task.todo"></activity>
        <activity android:name="com.example.digividya.dictionary.dictionary"></activity>
        <activity android:name="com.example.digividya.notes.Notess"></activity>
        <activity android:name="com.example.digividya.notes.nclas9"></activity>
        <activity android:name="com.example.digividya.notes.nclas10"></activity>
        <activity android:name="com.example.digividya.notes.nclas11"></activity>
        <activity android:name="com.example.digividya.notes.nclas12"></activity>
        <activity android:name="com.example.digividya.class10.neng10"></activity>
        <activity android:name="com.example.digividya.class10.nmath10"></activity>
        <activity android:name="com.example.digividya.class10.nsci10"></activity>
        <activity android:name="com.example.digividya.class10.nsst10"></activity>
        <activity android:name="com.example.digividya.class9.neng9"></activity>
        <activity android:name="com.example.digividya.class9.nmath9"></activity>
        <activity android:name="com.example.digividya.class9.nsci9"></activity>
        <activity android:name="com.example.digividya.class9.nsst9"></activity>




    </application>

</manifest>